{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="messages">
                    {% include 'AppBundle:_partials:twach_message.html.twig' %}

                    {% for message in messages %}
                        {% include 'AppBundle:_partials:twach_message.html.twig' with { message: message } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include "AppBundle:_partials:twach_tools.html.twig" with { form: form } %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('bundles/app/js/ws_client.js') }}"></script>#}
    {#<script src="{{ asset('bundles/app/js/twach_form.js') }}"></script>#}
    <script src="{{ asset('bundles/app/js/app.js') }}"></script>
    <script>
        var app = new App("ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}");
        app.setAttachmentTypes({}).load();
    </script>
{% endblock %}