{% set hasMsg = message is defined %}

<div class="message {% if not hasMsg %}prototype{% endif %}" data-id="{% if hasMsg %}{{ message.id }}{% endif %}">
    <div class="delete {% if hasMsg and app.user == message.user %}can_delete{% endif %}">
        <button class="btn btn-sm btn-danger delete-message" data-id="{% if hasMsg %}{{ message.id }}{% endif %}">&times;</button>
    </div>

    <div class="user">{% if hasMsg %}{{ message.user.username }}{% endif %}</div>
    <div class="text">{% if hasMsg %}{{ message.text }}{% endif %}</div>

    <div class="attachments">
        <div class="item type-1" data-prototype="<a href='__RESOURCE__'>__RESOURCE__</a>"></div>
        <div class="item type-2" data-prototype='<img src="__RESOURCE__" alt="__RESOURCE__" class="img-responsive">'></div>
        <div class="item type-3" data-prototype='<iframe width="100%" height="300" src="https://www.youtube.com/embed/__RESOURCE__" frameborder="0" allowfullscreen></iframe>'></div>

        {% if hasMsg %}
            {% for attach in message.attachments %}
                {% if attach.type == constant('AppBundle\\Entity\\MessageAttachment::TYPE_LINK') %}
                    <a href="{{ attach.resource }}">{{ attach.resource }}</a>
                {% endif %}

                {% if attach.type == constant('AppBundle\\Entity\\MessageAttachment::TYPE_IMAGE') %}
                    <img src="{{ attach.resource }}" alt="{{ attach.resource }}" class="img-responsive">
                {% endif %}

                {% if attach.type == constant('AppBundle\\Entity\\MessageAttachment::TYPE_YOUTUBE') %}
                    <iframe width="100%" height="300" src="https://www.youtube.com/embed/{{ attach.resource }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="pull-left">
        <div class="date">{% if hasMsg %}{{ message.createdAt | date('d.m.Y в H:i') }}{% endif %}</div>
    </div>
    <div class="pull-right">
        <div class="likes" data-id="{% if hasMsg %}{{ message.id }}{% endif %}">{% if hasMsg %}{{ message.likes | length }}{% else %}0{% endif %}</div>
    </div>

    <div class="clearfix"></div>
</div>